@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 80%;    
}

.box {
    background-color: #3b5998; /* Azul semelhante ao da imagem */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.profile {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-flow: column nowrap;
    gap: 10px;
}
.sobre{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;

}
.sobre>p,a{ 
    background-color: #5e83d3;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}


.sobre>p,a:hover{ 
    background-color: white;
    color: #5e83d3;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    width: 80px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.large-box {
    grid-column: span 2;
    display: flex;
}