@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    font-weight: 900;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-color: rgb(22, 22, 22);
}

.container {       
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 80%;    
}

/* Estilização da caixa com borda animada */
.box {    
    background-color: rgb(36, 35, 35);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative; 
    margin: 10px;
    
}

/* Criando a borda animada */
.box::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, rgb(59, 177, 147), rgb(0, 23, 128));;
    background-size: 300%;
    border-radius: 25px;
    z-index: -1;
    filter: blur(1px);
    animation: glow 3s infinite linear;
}

@keyframes glow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.profile {    
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-flow: column nowrap;
    gap: 10px;
}

.sobre { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
}

.sobre > p { 
    background-color:#5e83d3;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.sobre > p:hover { 
    background-color: white;
    color: #5e83d3;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.cards {    
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {    
    width: 80px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.large-box {    
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;   
    gap: 30px;
}

.larga > a { 
    background-color:#5e83d3;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    color: white;  
   
}

.larga > a:hover { 
    background-color: white;
    color: #5e83d3;
}

.large-box>p{
    text-align: center;
    color: white;    
    font-weight: 100;
    text-transform: uppercase;      
    font-size:0.8em;
}